body
{
	display: flex;
}


/*
* Side Bar Part
*/

.nav-full
{
	width: 20%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	color: #C2C2C2;
	background: #262626;
}
.nav-header
{
	text-align: center;
	margin-top: 30px;
}
.nav-item ul,
.nav-books-list ul
{
	margin-top: 30px;
	padding: 20px;
}
.nav-item li,
.nav-books-list li
{
	list-style: none;
}

.nav-item
{
	background: #1a1a1a;
}
.nav-item a
{
	padding: 10px;
	text-decoration: none;
	color: #DA7A09;
	font-weight: 700;
	transition: all 0.3s ease;
}
.nav-item a:hover
{
	color: #F0F0F0;
}














/*
* Books library Part
*/

.books
{
	width: 80%;
	height: 100%;
	background: #EAEAEA;
	margin-left: 20%;
}
